@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Color+Emoji&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&display=swap');
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

* {
    margin: 0;
    padding: 0;
}

.home {
    background-color: #f2f2f2;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
header {
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5453c;
    font-family: 'Nanum Gothic Coding';

    width: 100%;
    height: 64px;
}
header .head_logo {
    font-size: 30px;
    width: 120px;
    font: bold;
    cursor: pointer;
    padding: 0px 10px 0px 10px;
    /*버튼 안의 글자가 잘려서 두줄되지않게 하는*/
    justify-content: start;
}
header .search_info_wrapper {
    width: 100%;
    color: red;
    display: flex;
}
header .search_keyword {
    width: 90%;
    height: 25px;
    color: gray;
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    margin-right: 10px;

    justify-content: center;
}
header .my_info {
    width: 10%;
    color: #e5453c;
    cursor: pointer;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

/* content list */
.content_list_wrapper {
    padding: 30px 30px 30px 30px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}
.slick-track {
    /* transform: translate3d(-1310px, 0px, 0px); */
    margin-bottom: 0;
}
.slick-next::before,
.slick-prev::before {
    color: #848484;
}

.slick-slide img {
    object-fit: cover;
    padding: 10px;
    margin-right: 10px;
    height: 300px;
    width: 200px;
    box-sizing: border-box;
}
.slick-slide h4 {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.MyButton {
    position: relative;
    transform: translateY(-50%);
    width: 30px;
    height: 40px;
    top: -235px;
}
.Mybutton_prev {
    justify-content: start;
    /* left: 0%; */
}
.Mybutton_next {
    /* left: 0%; */

    justify-content: end;
}
.button_container {
    display: flex;
    justify-content: space-between;
    width: 98%;
    align-items: center;
}

.myinfo {
    background-color: lightgray;
}

.myinfo_wrapper {
    margin: 10px auto;
    max-width: 576px;
    background-color: pink;
    display: block;
}
.myinfo_section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-bottom: none;
}
.mygraph_section {
    height: 200px;
    border: 1px solid black;
    border-bottom: none;
}
.mylist_section {
    height: 200px;
    border: 1px solid black;
}

/* Modal */
.modal-background {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}
.modal {
    background-color: #f2f2f2;
    width: 80vw;
    height: 80vh;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    overflow: scroll;
}
.modal_close_btn {
    float: right;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.content_detail {
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
}
.detail_description {
    /* height: 50px; */
}
.poster_wrapper {
    width: 20%;
}
.content_description {
    width: 70%;
    padding-left: 10px;
}

.content_poster {
    width: 100%;
    height: auto;
    /* padding: 10px 10px 10px 10px; */
    padding-right: 10px;
}
.review_wrapper {
    justify-content: center;
    align-items: center;
    width: 90%;

    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.edit_btn,
.delete_btn,
.cancel_btn {
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    background-color: #e5453c;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
.review {
    margin: 10px 10px 10px 10px;
    font-size: 18px;
}
.star {
    margin: 10px 10px 10px 10px;
}
/* search result */
.search_wrapper {
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.search_content {
    display: block;

    margin: 0 auto;
    margin-top: 30px;
}
@media (min-width: 1035px) {
    .modal {
        width: 792px;
    }
}
@media (max-width: 835px) {
    .home {
        background-color: lightpink;
    }
    .search_wrapper {
        display: grid;
        grid-template-rows: 3;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 760px) {
    .home {
        background-color: lightyellow;
    }
}
@media (max-width: 650px) {
    .home {
        background-color: lightblue;
    }
    .myinfo-wrapper {
        width: 100%;
    }
    .head_logo {
        display: none;
    }
    header .search_keyword {
        width: 82%;
    }
    header .my_info {
        width: 18%;
    }
    .search_wrapper {
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: 1fr 1fr;
    }
}
